nav {
  display: flex;
  padding-right: 2%;
  padding-left: 1%;
  justify-content: space-between;
}
img {
  display: inline-block;
  margin-left: 1%;
  margin-top: 1%;
  width: 10%;  
}
.a{
  color: black;
  margin:2%; 
}
nav1 {
  align-content: center;
}
nav1 ul1 {
  list-style: none;
}

/* nav ul li {
  display: inline-block;
  margin: 2%;
}
nav ul li a {
  text-decoration: none;
  color: black;
} */

nav1 ul1 li {
  display: inline-block;
  margin-left: 13%;
  margin-top: 0%;
}

nav1 ul1 li a {
  text-decoration: none;
  color: black;
  align-items: center;
}

.carousel .thumb .image {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide .image {
  height: auto; /* change this to whatever you want */
  width: 65%;
  margin-top: 3%;
}

.carousel .slide {
  background: white;
}
.carousel.carousel-slider .control-arrow {
  background-color: black;
  top: 30%;
  bottom: 30%;
  right: 15%;
  margin-left: 15%;
}

.carousel .thumb  {
    display: inline-block;
  margin-left: 19%;
  margin-right: 0%;
  white-space: 0%;
  width: 8%;
}